<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Browse"></Label>
</ActionBar>

<GridLayout class="page__content">
<!--     <Label class="page__content-icon far" text="&#xf1ea;"></Label>
    <Label class="page__content-placeholder" text="<Comparte esta imagen"></Label> -->
<!--         <Image src="res://icon" class="thumb img-circle" (longPress)="onLongPress()">
        </Image> -->
        <!-- <Button text="Share Image" (tap)="shareImage()" class="btn btn-primary btn-active"></Button> -->
        <MapView (mapReady)="onMapReady($event)"></MapView>
</GridLayout>
