<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
<ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
</ActionItem>
<Label text="Detalle"></Label>
</ActionBar>
<GridLayout verticalAlignment="top" backgroundColor="lightgray">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image src="res://icon" class="thumb img-circle" style="width:60%">
                    </Image>
                    <Label text="Usuario: Carlos Espinoza" class="list-group-item-heading" verticalAlignment="center" style="width:60%">
                    </Label>
                </FlexboxLayout>
    <tags-input></tags-input>
</GridLayout>


