
<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
<ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
</ActionItem>
<Label text="Items"></Label>
</ActionBar>


<GridLayout class="page__content">
    <Label textWrap="true" text="Lista de Vehiculos" class="h2 description-label label"></Label>
<!-- <PullToRefresh
  (refresh)="refreshList($event)"
  indicatorFillColor="#fff000"
  indicatorColor="#3489db"
> -->
        <ListView class="list-group" [items]="this.carro()" (itemTap)="onItemTap($event)" style="height:1250px">
            <ng-template let-x="item">
                <FlexboxLayout flexDirection="row" class="list-group-item" (click)="onSelect(x)" (tap)="onNavItemTap('/detalle')">
                    <Image src="res://icon" class="thumb img-circle">
                    </Image>
                    <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="width: 60%">
                    </Label>
                </FlexboxLayout>
            </ng-template>
        </ListView>
 <!--  </PullToRefresh> -->
    <tags-input></tags-input>
</GridLayout>


